<div class="row registered-passkeys">
  <div class="control-group pref-user-api-keys">
    <label class="control-label">Passkeys</label>
    {{#each @model.passkeys as |passkey|}}
      <div>
        <b>{{passkey.name}}</b>
        --
        {{or passkey.last_used "Never used"}}
        --
        <DButton
          @action={{this.deletePasskey}}
          @icon="times"
          @translatedLabel="Delete"
        />
      </div>
      <p><i>Proof-of-concept feature, only one key is allowed per account. To
          retest flow, delete and start over.</i></p>
    {{else}}
      <DButton
        @action={{this.addPasskey}}
        @icon="plus"
        @translatedLabel="Add Passkey"
      />
    {{/each}}
  </div>
</div>